* {
    font-family: 'Lato';
    color: #291f1a;
}

.zielony-naglowek {
    color: #1ac056;
}

/*Nawigacja*/

#main-nav {
    background-color: transparent;
    border: none;
    padding-top: 15px;
}

.navbar.navbar-default.navbar-fixed-top ul li a {
    color: #fff;
    font-size: 16px;
}

/*Header*/

#main-header {
    background-image: url('../img/header-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    position: relative;
}

.inner-header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.inner-header > h1 {
    font-size: 120px;
}

.inner-header > h3 {
    font-size: 40px;
}

/*Article - About*/

.section-header {
    font-size: 32px;
    padding-top: 30px;
    color: black;
}

#sekcja-o-mnie {
    background-color: #f9fcfe;
}

#container-o-mnie {
    padding-top: 30px;
}

#my-img {
    background-image: url('../img/jan-nowak.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 300px;
    width: 250px;
    margin: 0 auto;
}

#opis-o-mnie {
    line-height: 25px;
}


/*Portolio*/

#umiejetnosci {
    margin: 0 100px;
}


.umiejetnosci-item {
    background-repeat: no-repeat;
    height: 100px;
    background-position: center;
}

#umiejetnosci-item-1 {
    background-image: url('../icons/html5.png');
}

#umiejetnosci-item-2 {
    background-image: url('../icons/css3.png');
}

#umiejetnosci-item-3 {
    background-image: url('../icons/js.png');
}

#umiejetnosci-item-4 {
    background-image: url('../icons/jquery.png');
}

